/* SIZE OF ALL IMAGES */
img {
    width: 100%;
    height: 100%;
}

/* BODY TEXT */
body {
    font-family: Garamond;
}

/* NAV BAR */
#nav-bar {
    font-family: Garamond;
}

/* HOMEPAGE TITLE */
#homepage-title {
    font-size: 30px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    display: block;
}

/* LOG IN TITLE */
#log-in-title {
    font-size: 20px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    display: block;
}

/* SEARCH PAGE TITLE */
#search-header {
    font-size: 30px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    display: block;
}

/* LOG IN FORM */
#log-in-form {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -50%);
    display: block;
}

/* LOG IN FORM INPUT BOXES */
#email-log-in, #password-log-in {
    display: block;
    width: 200px;
    height: 10px;
    border-radius: 30px;
    border: 1px solid #baa587;
    background: rgba(255, 255, 255, 0.5);
    padding: 15px;
    margin: 10px 0;
}

/* LOG IN FORM CONTAINER */
.log-in-form-container {
    margin: 100px auto;
    width: 350px;
    height: 315px;
    background-color: #ffffff;
    opacity: 0.5;
    padding: 60px;


}

/* LOG IN BUTTON */
#log-in-button {
    display: block;
    width: 75px;
    height: 33px;
    border-radius: 30px;
    border: 1px solid #baa587;
    position: absolute;
    left: 50%;
    top: 115%;
    transform: translate(-50%, -50%);
}

/* START PROFILE CREATION BUTTON */
#start-create-profile {
    display: block;
    width: 150px;
    height: 33px;
    border-radius: 30px;
    border: 1px solid #baa587;
    position: absolute;
    left: 50%;
    top: 125%;
    transform: translate(-50%, -50%);
}

/* LINK TO CREATE PROFILE */
#create-profile-link {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 68%;
    transform: translate(-50%, -50%);
    display: block;
}

/* CREATE PROFILE FORM CONTAINER */
.create-account-form-background {
    margin: 100px auto;
    width: 600px;
    height: 380px;
    background-color: #ffffff;
    opacity: 0.5;
    padding: 60px;
}

/* CREATE ACCOUNT PAGE TITLE */
#welcome-create-prof-title {
    font-size: 30px;
    text-align: center;
    position: absolute;
    color: black;
    left: 50%;
    top: 24%;
    transform: translate(-50%, -50%);
    display: block;
}

/* CREATE ACCOUNT FORM TITLE */
#create-account-title{
    font-size: 20px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    display: block;
}

/* CREATE PROFILE FORM */
#create-profile-form {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 72%;
    transform: translate(-50%, -50%);
    display: block;
}

.col-1{
    float:left;
    width: 50%;
    padding: 30px;

}

/* CREATE PROFILE BUTTON DESIGN */
#create-profile-button {
    width: 200px;
    height: 33px;
    border-radius: 30px;
    border: 1px solid #baa587;
}

/* CREATE PROFILE FORM INPUTS */
#first-name, #last-name, #username, #password,
#verify_password, #zipcode, #email, #instagram,
#tik-tok, #twitter, #website {
    display: block;
    width: 200px;
    height: 10px;
    border-radius: 30px;
    border: 1px solid #baa587;
    background: rgba(255, 255, 255, 0.5);
    padding: 15px;
    margin: -5px 0;
}

/* SEARCH PAGE TITLE */
#search-header {
    font-size: 30px;
    text-align: center;
    position: absolute;
    color: black;
    text-shadow: 2px 2px 8px #ccd5ae;
    left: 50%;
    top: 18%;
    transform: translate(-50%, -50%);
    display: block;
}

/* SEARCH PAGE DESCRIPTION */
#search-description {
    font-size: 20px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 39%;
    transform: translate(-50%, -50%);
    display: block;
}

/* SEARCH FORM CONTAINER */
.search-form-container {
    margin: 100px auto;
    width: 500px;
    height: 300px;
    background-color: #ffffff;
    opacity: 0.5;
    padding: 60px;
}

/* ZIPCODE INPUT FORM  */
#zipcode-input {
    display: block;
    width: 200px;
    height: 10px;
    border-radius: 30px;
    border: 1px solid #baa587;
    background: rgba(255, 255, 255, 0.5);
    padding: 15px;
    margin: -5px 0;
}

/* SEARCH BUTTON */
#search-btn {
    width: 100px;
    height: 33px;
    border-radius: 30px;
    border: 1px solid #baa587;
}

/* ZIPCODE INPUT DIV */
#zip-input-div {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50.1%;
    transform: translate(-50%, -50%);
    display: block;
}

/* SEARCH BUTTON DIV */
#search-btn-div {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 59%;
    transform: translate(-50%, -50%);
    display: block;
}

/* RANDOMIZE SEARCH BUTTON */
#randomize-btn {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 68%;
    transform: translate(-50%, -50%);
    display: block;
    width: 150px;
    height: 33px;
    border-radius: 30px;
    border: 1px solid #baa587;
}

/* EXPLORE PAGE LAYOUT */
.explore-image-grid {
    --gap: 16px;
    --num-cols: 3;
    --row-height: 300px;

    box-sizing: border-box;
    padding: var(--gap);


    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

/* TARGET EACH IMAGE IN EXPLORE PAGE */
.explore-image-grid > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* SET UP MEDIA QUERY FOR EXPLORE GALLERY */
@media screen and (max-width: 1024px) {
    .image-grid{
        --num-cols: 2;
        --row-height: 200px;
    }
}

/* CREATE GALLERY FORM CONTAINER  */
.form-group-container {
    margin: 100px auto;
    width: 500px;
    height: 300px;
    background-color: #ffffff;
    opacity: 0.5;
    padding: 60px;
}

/* CREATE GALLERY TITLE  */
#create-post-title {
    color: #768088;
    text-shadow: 2px 2px 6px black;
    position: absolute;
    left: 50%;
    top: 18%;
    transform: translate(-50%, -50%);
    display: block;
}

/* CREATE GALLERY DESCRIPTION */
#create-post-desc{
    position: absolute;
    color: black;
    left: 50%;
    top: 33%;
    transform: translate(-50%, -50%);
    display: block;
}

/* GALLERY TITLE INPUT */
#gallery-title {
    margin: 4px;
    display: block;
    width: 200px;
    height: 10px;
    border-radius: 30px;
    border: 1px solid #baa587;
    background: rgba(255, 255, 255, 0.5);
    padding: 15px;
    margin: -5px 0;
}

/* GALLERY DESCRIPTION INPUT  */
#gallery-description {
    margin: 4px;
    display: block;
    width: 200px;
    height: 10px;
    border-radius: 30px;
    border: 1px solid #baa587;
    background: rgba(255, 255, 255, 0.5);
    padding: 15px;
    margin: -5px 0;
}

/* GALLERY TITLE DIV */
#gallery-title-div{
    position: absolute;
    left: 50%;
    top: 44%;
    transform: translate(-50%, -50%);
    display: block;
}

/* GALLERY DESCRIPTION DIV */
#gallery-desc-div {
    position: absolute;
    left: 50%;
    top: 54%;
    transform: translate(-50%, -50%);
    display: block;
}

/* CREATE GALLERY BUTTON */
#artist-collection-button {
    width: 200px;
    height: 33px;
    border-radius: 30px;
    border: 1px solid #baa587; 
    position: absolute;
    left: 50%;
    top: 69%;
    transform: translate(-50%, -50%);
    display: block;
}

/* UPLOAD IMAGE CONTAINER DIV  */
.upload-image-container {
    margin: 100px auto;
    width: 500px;
    height: 200px;
    background-color: #ffffff;
    opacity: 0.5;
    padding: 60px;
}

/* UPLOAD IMAGE TITLE  */
#upload-image-title {
    color: #768088;
    text-shadow: 4px 4px 8px black;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    display: block;
}

/* UPLOAD IMAGE DESCRIPTION */
#upload-image-desc {
    position: absolute;
    color: black;
    left: 50%;
    top: 33%;
    transform: translate(-50%, -50%);
    display: block;
}

/* IMAGE TITLE FORM INPUT */
#image-title {
    margin: 4px;
    display: block;
    width: 200px;
    height: 10px;
    border-radius: 30px;
    border: 1px solid #baa587;
    background: rgba(255, 255, 255, 0.5);
    padding: 15px;
    margin: -5px 0;
}

/* IMAGE TITLE INPUT PARENT DIV  */
#image-title-div {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    display: block;
}

/* IMAGE UPLOAD PARENT DIV */
#image-upload-div {
    position: absolute;
    left: 53%;
    top: 47%;
    transform: translate(-50%, -50%);
    display: block;
}

/* SUBMIT NEW POST BUTTON  */
#submit-new-post {
    width: 200px;
    height: 33px;
    border-radius: 30px;
    border: 1px solid #baa587;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    display: block;
}

/*ADD NEW IMAGE BACKGROUND CONTAINER */
.add-new-image-container {
    margin: 100px auto;
    width: 500px;
    height: 250px;
    background-color: #ffffff;
    opacity: 0.5;
    padding: 60px;
}

/* ADD NEW IMAGE PAGE TITLE DIV */
#add-new-image-title {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    display: block;
}

/* ADD NEW IMAGE PAGE TITLE */
#add-new-image-page-title {
    color: #768088;
    text-shadow: 4px 4px 8px black;
}

/* ADD NEW IMAGE DESCRIPTION */
#add-new-image-desc {
    color: black;
    position: absolute;
    left: 50%;
    top: 33%;
    transform: translate(-50%, -50%);
    display: block;
}

/* GALLERY SELECT DROPDOWN DIV */
#gallery-select-dropdown {
    position: absolute;
    left: 50%;
    top: 39%;
    transform: translate(-50%, -50%);
    display: block;
}

/* GALLERY SELECT DROPDOWN */
/* #gallery-select {
    margin: 4px;
    display: block;
    width: 200px;
    height: 10px;
    border-radius: 30px;
    border: 1px solid #baa587;
    background: rgba(255, 255, 255, 0.5);
    padding: 15px;
    margin: -5px 0;
} */

/* ADD IMAGE TITLE DIV */
#add-image-title-input {
    position: absolute;
    left: 50%;
    top: 46.5%;
    transform: translate(-50%, -50%);
    display: block;
}

/* UPLOAD IMAGE BUTTON DIV */
#upload-another-image-btn {
    position: absolute;
    left: 53%;
    top: 54.5%;
    transform: translate(-50%, -50%);
    display: block;
}

/* SUBMIT NEW IMAGE BUTTON */
#submit-add-image-button {
    position: absolute;
    left: 50%;
    top: 63%;
    transform: translate(-50%, -50%);
    display: block;
}

/* ART SHOW TITLE */
#art-show-title {
    text-align: center;
}

/* ART SHOW DESCRIPTION */
#art-show-desc {
    text-align: center;
    margin-bottom: 18px;
}

/* ART SHOW USER'S NAME */
#artist-name {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 8px;
}

/* ART SHOW USERNAME CONTAINER */
#art-show-username-container {
    text-align: center;
    margin: 15px;
}

/* ART SHOW USER'S USERNAME */
#artist-username {
    text-align: center;
    font-style: italic;
    color: #6B7D7C;
}

/* ART SHOW GALLERY TITLE */
#art-show-gallery-title {
    text-align: center;
    margin-top: 30px;
}

/* ART SHOW GALLERY GRID */
#art-show-images-gallery-grid {
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 2%;
    display:grid;
    text-align: center;

    grid-template-columns: 1, 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

/* TARGET ALL IMAGES IN THE ART SHOW AND RESIZE THEM */
#art-show-images-gallery-grid > img {
    width: 35%;
    height: 35%;
}

/* ART SHOW GALLERY DESCRIPTION */
#art-show-gallery-desc {
    text-align: center;
    font-style: italic;
}

/* IMAGE DETAILS IMAGE TITLE */
#image-details-image-title {
    text-align: center;
}

/* IMAGE DETAILS USERNAME CONTAINER */
#image-details-username-container {
    text-align: center;
}

/* IMAGE DETAILS USERNAME LINK */
#image-details-username-link {
    text-align: center;
    font-style: italic;
    color: #6B7D7C;
}

/* IMAGE DETAILS IMAGE */
#image-details-image-container-div {
    text-align: center;
    margin: 10px;
}

/* IMAGE DETAILS IMAGE CONTAINER DIV */
#image-details-image-container-div > img {
    width: 35%;
    height: 35%;
}

/* LIKE BUTTON CONTAINER */
#like-button-container {
    text-align: center;
}

/* LIKE BUTTON */
#like-button {
    width: 100px;
    height: 35px;
    border-radius: 30px;
    border: 1px solid #baa587;
}

/* ADD COMMENT FORM */
#add-comment-form {
    text-align: center;
}

/* COMMENT INPUT */
#comment-input {
    width: 300px;
    height: 35px;
    border-radius: 30px;
    border: 1px solid #baa587;
}

/* COMMENT BUTTON CONTAINER DIV */
#comment-btn {
    text-align: center;
    margin: 10px;
}

/* POST COMMENT BUTTON */
#post-comment-button {
    width: 100px;
    height: 35px;
    border-radius: 30px;
    border: 1px solid #baa587;
}

/* COMMENT SECTION TITLE */
#comments-title {
    text-align: center;
    font-size: 17px;
    margin-top: 20px;
    text-decoration: underline;
}

/* ADDED COMMENTS SECTION */
#added-comments {
    text-align: center;
    margin: 10px;
}

/* LOGGED IN USERS COMMENTS */
#user-comments {
    text-align: center;
    margin: 10px;
}

/* EDIT COMMENT BUTTON STYLING */
.Hidden, .Delete, .Save, .Cancel {
    width: 100px;
    height: 35px;
    border-radius: 30px;
    border: 1px solid #baa587;
    margin: 8px; 
}

/* COMMENTING USERS LINK TO THEIR PROFILE */
#comment-user-profile-link {
    color: #6B7D7C;
}

/* PARENT CONTAINER FOR USER PROFILE */
.container {
    text-align: center;
    display: grid;
}

/* ROW CLASS FOR USER PROFILE */
.row {
    text-align: center;
}

/* USER PROFILE USER INFO CONTAINER DIV */
#user-profile-user-info {
    text-align: center;
}

/* PROFILE NAME DISPLAY */
#user-profile-first-last-name {
    text-align: center;
}

/* PROFILE USERNAME DISPLAY */ 
#user-profile-username {
    text-align: center;
    font-style: italic;
}

/* PROFILE ZIPCODE DISPLAY */
#user-profile-zipcode {
    text-align: center;
}


/* PROFILE USER SOCIALS DISPLAY */
#user-profile-socials {
    text-align: center;
}

/* USER PROFILE CREATE POST CONTAINER */
#user-profile-create-post-form-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    
}

/* USER PROFILE CREATE POST FORM */
#user-profile-create-post-form {
    text-align: inherit;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
}

/* CREATE POST PROFILE BUTTON */
#user-profile-create-post-button {
    text-align: center;
    display: block; 
    width: 150px;
    height: 33px;
    border-radius: 30px;
    border: 1px solid #baa587;
}

/* GALLERY TITLE DISPLAY */
#user-prof-gallery-title {
    font-size: 20px;
}

/* GALLERY DESCRIPTION DISPLAY */
#user-profile-gallery-desc {
    font-style: italic;
    position: absolute;

}

/* ART GALLERY CONTAINER */
#art-collection-grid-container {
    padding-left: 10%;
    padding-right: 10%;
    display:grid;
    text-align: center;

    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

/* USER IMAGES GRID */
.user-images-grid {
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 2%;
    display:grid;
    text-align: center;

    grid-template-columns: 1, 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

/* USER ART GALLERY EDIT BUTTONS CONTAINER */
.user-profile-edit-btns {
    text-align: inherit;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    padding-bottom: 5%;
}

/* EDIT POST BUTTONS */
#edit-post-btn {
    width: 150px;
    height: 33px;
    border-radius: 30px;
    border: 1px solid #baa587;
    margin: 3px;
}

/* ADD IMAGE TO GALLERY/POST BUTTON */
#add-image-btn {
    color: black;
    width: 150px;
    height: 33px;
    border-radius: 30px;
    border: 1px solid #baa587;
    margin: 3px;
}

/* EDIT ART COLLECTION TITLE */
#art-collection-title {
    text-align: center;
    margin-top: 10px;
}

/* EDIT TITLE BUTTON */
#edit-title-btn {
    text-align: center;
    width: 150px;
    height: 33px;
    border-radius: 30px;
    border: 1px solid #baa587;
    margin: 3px;
}

/* EDIT TITLE BUTTON */
.edit-title-btn-container {
    text-align: center;
}

/* SAVE TITLE BUTTON */
.Save-Title {
    width: 100px;
    height: 33px;
    border-radius: 30px;
    border: 1px solid #baa587;
    margin: 3px;
}

/* CANCEL TITLE EDIT */
.Cancel-Title {
    width: 100px;
    height: 33px;
    border-radius: 30px;
    border: 1px solid #baa587;
    margin: 3px;
}

/* POST DESCRIPTION */
#art-collection-description {
    text-align: center;
    margin-top: 10px;
    font-style: italic;
}

.edit-desc-btn-container {
    text-align: center;
}

#edit-description-btn {
    text-align: center;
    width: 200px;
    height: 33px;
    border-radius: 30px;
    border: 1px solid #baa587;
    margin: 3px;
}

/* SAVE DESCRIPTION BUTTON */
.Save-Desc {
    width: 100px;
    height: 33px;
    border-radius: 30px;
    border: 1px solid #baa587;
    margin: 3px;
}

/* CANCEL DESCRIPTION EDIT */
.Cancel-Desc {
    width: 100px;
    height: 33px;
    border-radius: 30px;
    border: 1px solid #baa587;
    margin: 3px;
}

/* EDIT IMAGE TITLE */
.Edit-Img-Title {
    text-align: center;
}

/* EDIT BUTTON */
.Edit {
    text-align: center;
    width: 200px;
    height: 33px;
    border-radius: 30px;
    border: 1px solid #baa587;
    margin: 3px;
}

/* EDIT IMAGE TITLE CONTAINER */
.Edit-Img-Title-Container {
    text-align: center;
    margin-bottom: 10px;
}

/* SAVE IMAGE TITLE BUTTON */
.Save-Img-Title {
    width: 100px;
    height: 33px;
    border-radius: 30px;
    border: 1px solid #baa587;
    margin: 3px;
}

/* CANCEL IMAGE TITLE EDIT */
.Cancel-Img-Title {
    width: 100px;
    height: 33px;
    border-radius: 30px;
    border: 1px solid #baa587;
    margin: 3px;
}

/* EDIT IMAGE TITLE CONTAINER */
.Edit-Img-Container {
    text-align: center;
    margin: 10px;
}

/* EDIT IMAGE */
.Img-Edit {
    width: 50%;
    height: 50%;
    text-align: center;
}

/* DELETE IMAGE BUTTON CONTAINER */
.Delete-Img-Btn-Container {
    text-align: center;
}

/* DELETE IMAGE BUTTON */
.Delete-Img-Btn {
    text-align: center;
    width: 150px;
    height: 33px;
    border-radius: 30px;
    border: 1px solid #baa587;
    margin: 3px;
    margin-bottom: 25px;
}

/* EXIT EDIT POST BUTTON */
#exit-edit-post {
    text-align: center;
}

/* DELETE POST ROUTE */
#del-post-route {
    text-align: center;
}

/* SAVE POST EDIT BUTTON */
#save-post-edits-btn {
    text-align: center;
    width: 200px;
    height: 33px;
    border-radius: 30px;
    border: 1px solid #baa587;
    margin: 3px;
}

/* DELETE ENITRE POST BUTTON */
.Delete-Post {
    text-align: center;
    width: 200px;
    height: 33px;
    border-radius: 30px;
    border: 1px solid #baa587;
    margin: 3px;
}