/* SIZE OF ALL IMAGES */
img {
    width: 400px;
    height: auto;
    /* margin: auto;
    display: block; */
}

/* HOMEPAGE TITLE */
#homepage-title {
    font-size: 30px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    display: block;
}

/* LOG IN TITLE */
#log-in-title {
    font-size: 20px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    display: block;
}

/* SEARCH PAGE TITLE */
#search-header {
    font-size: 30px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    display: block;
}

/* LOG IN FORM */
#log-in-form {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

/* LINK TO CREATE PROFILE */
#create-profile-link {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    display: block;
}

/* SEARCH PAGE DESCRIPTION */
#search-description {
    font-size: 20px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 32%;
    transform: translate(-50%, -50%);
    display: block;
}

/* ZIPCODE SEARCH FORM */
#zipcode-search {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

/* ZIPCODE SEARCH FORM LABEL */
#zipcode-label {
    font-size: 17px;
}

/* RANDOMIZE SEARCH BUTTON */
#randomize-btn {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    display: block;
}