{% extends 'base.html' %}

{% block title %} Edit {% endblock %}

{% block content %}

    <!-- <h1 hidden id="{{art_collection.artist_collection_id}}">Art Collection</h1> -->

    <h1 id="art-collection-title"> {{art_collection.gallery_title}}</h1>
    <button class="Edit" id="edit-title-btn" type="button">Edit</button>
        <div id="edit-title-div" hidden class="Title">
            <input value="{{art_collection.gallery_title}}">
            <button 
                id="save-title-{{art_collection.artist_collection_id}}" 
                type="button" 
                class="Save-Title" 
                type="submit"
            >   
                Save
            </button>
            <button class="Cancel-Title" type="submit">Cancel</button>
        </div>



    <p id="art-collection-description"> {{art_collection.gallery_description}}</p>
    <button class="Edit" id="edit-description-btn" type="button">Edit</button>
        <div hidden class="Description">
            <input value="{{art_collection.gallery_description}}">
            <button 
                id="save-desc-{{art_collection.artist_collection_id}}"
                class="Save-Desc" 
                type="submit"
            >
                Save
            </button>
            <button class="Cancel-Desc" type="submit">Cancel</button>
        </div>

    <br>

    {% for image in images %}
        <div>
            <p id="para-img-title-{{image.image_id}}">{{image.image_title}}</p>
            <button class="Edit" id="edit-image-title-btn-{{image.image_id}}" type="button">Edit</button>
                <div hidden class="Img-Title" id="img-title-{{image.image_id}}">
                    <input value="{{image.image_title}}">
                    <button 
                        id="save-img-{{art_collection.artist_collection_id}}-{{image.image_id}}"
                        class="Save-Img-Title" 
                        type="submit"
                    >
                        Save
                    </button>
                    <button class="Cancel-Img-Title" type="submit">Cancel</button>
                </div>
            <img src="{{image.image_link}}" id="image" data-id = "{{image.image_id}}">
            <button 
                class="Delete-Img-Btn" 
                id="del-img-btn-{{art_collection.artist_collection_id}}-{{image.image_id}}"
            >
                Delete Image
            </button>
        </div>
    {% endfor %}

<div>
<button class="Delete-Post" id="delete-post-{{art_collection.artist_collection_id}}" type="submit">Delete Post</button>
</div>

{% endblock %}