<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %} TITLE GOES HERE {% endblock %}</title>

        <!-- Required Meta Tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
            crossorigin="anonymous"
        />

        <!-- Responsive Meta Tag (For All Devices) -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Our Custom CSS Styles -->
        <link rel="stylesheet" href="/static/css/style.css">

        <!-- NAV BAR -->
        <nav id="nav-bar" class="navbar navbar-expand navbar-light bg-light">

            <!-- Art Town Link to Home Route -->
            <a class="navbar-brand" href="/">ArtTown</a>
            <button 
                class="navbar-toggler" 
                type="button" data-toggle="collapse" 
                data-target="#navbarSupportedContent" 
                aria-controls="navbarSupportedContent" 
                aria-expanded="false" 
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Nav Bar Tabs Container -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <!-- Link To User Profile -->
                    <li class="nav-item active">
                        <a class="nav-link" href="/user_profile">Home</a>
                    </li>

                    <!-- Link to Search Page -->
                    <li class="nav-item">
                        <a class="nav-link" href="/zipcode_input">Search</a>
                    </li>

                    <!-- Link to Explore Page -->
                    <li class="nav-item">
                        <a class="nav-link" href="/explore">Explore</a>
                    </li>

                    <!-- Link to Art Show -->
                    <li class="nav-item">
                        <a class="nav-link" href="/load_art_show">Art Show</a>
                    </li>

                    <!-- Link to Sign Out -->
                    <li class="nav-item">
                        <a class="nav-link" href="/log_out">Sign Out</a>
                    </li>
                </ul>
            </div>
        </nav>

    </head>

    {% block content %}

        <!-- Show Flash Messages -->
        <ul>
        {% for message in get_flashed_messages() %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>

    {% endblock %}

    <!-- JavaScript Tags -->
    <script src="/static/js/user-interactions.js"></script>
    <script src="/static/js/edit-posts.js"></script>

    <!-- Bootstrap JavaScript Bundle -->
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"
    ></script>

    <!-- Random Color JavaScript Library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.5.4/randomColor.min.js"></script>
</html>