{% extends 'base.html' %}

{% block title %} Create an Account {% endblock %}

{% block content %}

<body style = "background: url(/static/img/create-prof.jpeg); background-size: 100%;">

    <h1 id="welcome-create-prof-title">Welcome to Arist By Zipcode!</h1>

    <br>
    </br>

    <div class="create-account-form-background"></div>

        <h2 id="create-account-title">Create an Account</h2>

            <form id="create-profile-form" action="/register_profile" method="POST">
                <div class="create-prof-container">
                    <div class="col-1">

                        <input type="text" name="first_name" placeholder="First Name" id="first-name">

                        <br>

                        <input type="text" name="last_name" placeholder="Last Name"id="last-name">

                        <br>

                        <input type="text" name="username" placeholder="Username"id="username">

                        <br>

                        <input type="password" name="password" placeholder="Password "id="password">

                        <br>

                        <input type="password" name="verify_password" placeholder="Verify Password" id="verify_password">

                        <br>

                        <input type="text" name="zipcode" placeholder="Zipcode" id="zipcode">
                        <br>
                    </div>



                    <div class="col-1">


                        <input type="text" name="email" placeholder="Email" id="email">

                        <br>

                        <input type="text" name="instagram" placeholder="Instagram" id="instagram">

                        <br>

                        <input type="text" name="tik_tok" placeholder="Tik Tok" id="tik-tok">

                        <br>

                        <input type="text" name="twitter" placeholder="Twitter" id="twitter">

                        <br>

                        <input type="text" name="website" placeholder="Website" id="website">

                        <br>

                        <button id="create-profile-button" type="submit" class="btn-outline-dark">Create Profile</button>
                        <br>
                    </div>
                </div>

                <!-- <button id="create-profile-button" type="submit">Create Profile</button> -->
            </form>

</body>

{% endblock %}