{% extends 'base.html' %}
{%block title %} New Post {%endblock %}

{% block content %}
    <body style = "background: url(/static/img/addimage3.jpeg); background-size: 100%;">
        <h1 id="create-post-title">Create a New Post</h1>

        <div class="form-group-container"></div>

        <p 
            id="create-post-desc"
        >
            First, lets get your gallery set up! <br>
            Then we can add your images.
        </p>

        <form id="create-post-form" action="/create_art_collection" method="POST">
            <div id="gallery-title-div">
                <input type="text" name="gallery-title" id="gallery-title" placeholder="Gallery Title">
            </div>

            <div id="gallery-desc-div">
                <input type="text" name="gallery-description" id="gallery-description" placeholder="Gallery Description">
            </div>

            <button type="submit" id="artist-collection-button" class="btn-outline-dark">Create Gallery</button>
        </form>

    </body>
{% endblock %}