{% extends 'base.html' %}

{% block title %} Welcome {% endblock %}

{% block content %}
<body style = "background: url(/static/img/homepage.jpeg); background-size: 100%;">
<h1 id="homepage-title">Welcome to Artist by Zipcode!</h1>

<!-- <img src="http://" -->

    <div class="log-in-form-container"></div>
        <p id="log-in-title">Log In</p>

        <form action="/log_in" method="POST" id="log-in-form">

            <input id="email-log-in" type="text" placeholder="Email" name="email">

            <input id="password-log-in" type="password" placeholder="Password" name="password">

            <button id="log-in-button" type="submit" class="btn-outline-dark">Log In</button>
        </form>
    

    <form id="create-profile-link" action="/create_profile">
        <p>New Here? Let's get you signed up!</p>
        <button id="start-create-profile" type="submit" class="btn-outline-dark">Create Profile</button>
    </form>
</body>

{% endblock %}