{% extends 'base.html' %}

{% block title %} Welcome {% endblock %}

{% block content %}

<h1>Welcome to Artist by Zipcode!</h1>

<!-- <img src="http://" -->

    <p>Log In</p>

    <form action="/log_in" method="POST">
        <label for="username-log-in">Username:</label>
        <input type="text" name="username" id="username-log-in">

        <label for="email" id="email-log-in">Email:</label>
        <input type="text" name="email" id="email-log-in">

        <label for="password-log-in">Password:</label>
        <input type="password" name="password" id="password-log-in">

        <button id="log-in-button" type="submit">Log In</button>
    </form>

    <form action="/create_profile">
        <p>New Here? Let's get you signed up!</p>
        <button id="start-create-profile" type="submit">Create Profile</button>


{% endblock %}