{% extends 'base.html' %}

{% block title %} Image Details {% endblock %}

{% block content %}
    <h1> {{image.image_title}}</h1>
    <img src="{{image.image_link}}">

    <br>
    </br>

    {% if session.get('user_email') %}
    <h1>Leave a comment!</h1>

    <form>

        <button id="like-button-{{image.image_id}}">Like</button>
        <p id="like-count"> {{ like_count }} </p>

        <label for="comment">Comments:</label>
        <input type="text" name="comment" id="comment">
        <input type="text" hidden value="{{image.image_id}}" name="image-id" id="image-id">

        <button type="submit" id="add-comment-button-{{image.image_id}}">Post</button>

    </form>

    {% endif %}

    <div id="added-comments">
        {% for comment in comments %}
            {% if session.get('username') == comment.user.username %}
                <div>{{comment.user.username}} : {{ comment.comment }}</div>
                <button type="button" id="delete-comment-button-{{image.image_id}}">Delete</button>
            {% endif %}
            <div>{{comment.user.username}} : {{ comment.comment }}</div>
        {% endfor %}
    </div>


{% endblock %}