{% extends 'base.html' %}

{% block title %} Image Details {% endblock %}

{% block content %}
    <h1 id="image-details-image-title"> {{image.image_title}}</h1>

    <div id="image-details-username-container">
        <a id="image-details-username-link" href="/art_show_user_profile/{{image.user.user_id}}">
            {{image.user.username}}
        </a>
    </div>

    <div id="image-details-image-container-div">
        <img class="image-details-image" src="{{image.image_link}}" id="image" data-id = "{{image.image_id}}">
    </div>


    {% if session.get('user_email') %}

    <div id="like-button-container">
        <button id="like-button" class="btn btn-outline-danger">Like</button>
        <p id="like-count"> {{ like_count }} </p>
    </div>

    <form id="add-comment-form">
        <input id="comment-input" type="text" name="comment" placeholder="Leave A Comment">
        <button id="post-comment-button" type="submit" class="btn-outline-dark">Post</button>
    </form>

    {% endif %}

    <p id="comments-title">Comments:</p>

    <div id="added-comments">

        <div id="user-comments">
        {% for comment in comments %}

            {% if session.get('username') == comment.user.username %}
                <div class="Comment" data-comment-id="{{comment.comment_id}}">
                    {{comment.user.username}} : <p id="para-comment-{{comment.comment_id}}">{{comment.comment}}</p>
                    <button id="button-id-{{comment.comment_id}}" class="Hidden" type="button">Edit</button>
                    <div id="hidden-comment-{{comment.comment_id}}" hidden>
                        <input value = "{{comment.comment}}" >
                        <button id="save-id-{{comment.comment_id}}" class="Save" type="button">Save</button>
                        <button id="cancel-id-{{comment.comment_id}}" class="Cancel" type="button">Cancel</button>
                    </div>
                    <button id="delete-id-{{comment.comment_id}}" class="Delete"" type="button">Delete</button>
                </div>
            {% endif %}
        {% endfor %}
        </div>

        {% for comment in comments %}

            {% if session.get('username') != comment.user.username %}
                <div>{{comment.user.username}} : {{ comment.comment }}</div>
            {% endif %}
        {% endfor %}
    </div>


{% endblock %}