{% extends 'base.html' %}

{% block title %} Artist Near You {% endblock %}

{% block content %}
    <!-- <h1>{username}, here is an artist near you:</h1> -->
    <h1>Here is an artist near you!</h1>

        <form action="/zipcode_input">
            <button id="search-again" type="submit">Search Again</button>
        </form>
        <form action="/user_profile">
            <button id="return-to-profile" type="submit">Return to Profile</button>
        </form>

    <h2>{{fake_username}}</h2>

    <h3>{{fake_zipcode}}</h3>

    <p> These are my socials:</p>
        <p>Instagram: {{fake_instagram}}</p>
        <p>Twitter: {{fake_twitter}}</p>
        <p>Tik Tok: {{fake_tiktok}}</p>
        <p>Website: {{fake_website}}</p>

    <p> Here are {{fake_username}}'s latest posts: </p>
        <div>
            {% for art in fake_art %}
            <p>{{art.gallery_title}}</p>
            <p>{{art.gallery_description}}</p>
                {% for image in art.image %}
                <p>{{image.image_title}}</p>
                <img src="{{image.image_link}}">
                {% endfor %}
            {% endfor %}
        </div>


{% endblock %}