{% extends 'base.html' %}
{% block title %} Enter Zip Code {% endblock %}

{% block content %}
    <h1 id="search-header">Search For Artists in Your Zip Code!</h1>
    <p id="search-description">
        Search for artists nearby, or randomize your search to find someone new!
    </p>

    <form id="zipcode-search" action="/search_by_zipcode" method="POST">
        <label id="zipcode-label" for="search-by-zip">Enter your zip code</label>
        <input id="zipcode-input" type="text" name="zipcode">

        <button id="search-btn" type="submit" class="btn-outline-dark">Search</button>
    </form>
    <form action="/show_random_profile">
        <button id="randomize-btn" type="submit" class="btn-outline-dark">Randomize</button>
    </form>



{% endblock %}