{% extends 'base.html' %}
{% block title %} Enter Zip Code {% endblock %}

{% block content %}
    <h1>Search For Artists in Your Zip Code!</h1>

    <form action="/search_by_zipcode" method="POST">
        <label for="search-by-zip">Enter your zip code</label>
        <input type="text" name="zipcode" id="zipcode-input">

        <button type="submit" name="zipcode-search">Search</button>
    </form>

    <form action="/show_random_profile">
        <button type="submit" name="random-search">Randomize</button>
    </form>

    <form action="load_art_show">
        <button type="submit" name="art-show">Art Show</button>
    </form>


{% endblock %}