{% extends 'base.html' %}

{% block title %} Add Image {% endblock %}

{% block content %}

    <!-- Background Image -->
    <body style = "background: url(/static/img/uploadimage10.jpeg); background-size: 100%;">

        <!-- Image Upload Container -->
        <div clas="upload-container">

            <!-- Image Upload Page Title -->
            <h1 id="upload-image-title">Create a New Post</h1>

            <!-- Image Upload Background Container/Square -->
            <div class="upload-image-container"></div>

            <!-- Image Upload Page Description -->
            <p id="upload-image-desc">Perfect! Now you can add your image below.</p>

            <!-- Image Upload Form -->
            <form action="/upload_image" method="POST" enctype="multipart/form-data">

                <!-- Image Title and Information Container Div -->
                <div id="image-title-div">

                    <!-- Image Title Input Field -->
                    <input id="image-title" type="text" name="image-title" id="image-title" placeholder="Image Title">

                    <!-- Image's Artist Collection ID Hidden Input Field -->
                    <input type="text" value="{{artist_gallery.artist_collection_id}}" name="gallery-collection" hidden="true">
                </div>
                
                <!-- Image Upload Button Container Div -->
                <div id="image-upload-div">

                    <!-- Image Upload Button -->
                    <input type="file" id="image-upload-button" name="filename">
                </div>

                <!-- Create Post Button -->
                <button type="submit" id="submit-new-post" class="btn-outline-dark">Create Post</button>
            </form>

        </div>

    </body>

{% endblock %}