{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block content %}

<div class="container">

    <div class="row" id="user-profile-user-info">
        <h1 id="user-profile-first-last-name">{{user.first_name}} {{user.last_name}}</h1>

        <p id="user-profile-username"> {{username}} </p>

        <p id="user-profile-zipcode"> {{zipcode}} </p>
    </div>

    <div class="row" id="user-socials-info-background"></div>

    <div class="row" id="user-profile-socials">
        <p>{{website}}</p>
        <p>Instagram: {{instagram}}</p>
        <p>Twitter: {{twitter}}</p>
        <p>Tik Tok: {{tiktok}}</p>
    </div>

    {% if session.get('username') == username %}
    <div class="row" id="user-profile-create-post-form-container">
        <form class="row" id="user-profile-create-post-form" action="/create_post_form">
            <button id="user-profile-create-post-button" type="submit" class="btn-outline-dark">Create Post</button>
        </form>
    </div>
    {% endif %}
</div>
<div class="art-collection-images-grid" id="art-collection-grid-container">

    {% for collection in art_collections%}
    <div id="user-prof-gallery-info-container-{{collection.artist_collection_id}}">
        <p id="user-prof-gallery-title-{{collection.artist_collection_id}}">{{collection.gallery_title}}</p>
        <p id="user-profile-gallery-desc-{{collection.artist_collection_id}}">{{collection.gallery_description}}</p>


        <div id="artist-collection-images-{{collection.artist_collection_id}}">
            {% for image in collection.image %}
            <a href="/user_profile/{{image.image_id}}">
                <img class="" src="{{image.image_link}}" alt="slide">
            </a>
            {% endfor%}
        </div>

        {% if session.get('username') == username %}
        <div id="art-collection-user-actions-{{collection.artist_collection_id}}">
            <form action="/user_profile/edit/{{collection.artist_collection_id}}">
                <button id="edit-post-btn" type="submit" class="btn-outline-dark">Edit</button>
            </form>
            <form action="/add_images_to_collection">
                <button id="add-image-btn" type="submit" class="btn-outline-success">Add Image</button>
            </form>
        </div>
        {%endif %}
    </div>
    {% endfor %}

</div>


{% endblock %}