{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block content %}

    <h1 id="user-profile-first-last-name">{{user.first_name}} {{user.last_name}}</h1>

    <p id="user-profile-username">{{username}}</p> 

    <p id="user-profile-zipcode"> {{zipcode}} </p>
    
    <div class="user-socials-info-background"></div>
    <div id="user-profile-socials">
        <p>{{website}}</p>
        <p>Instagram: {{instagram}}</p>
        <p>Twitter: {{twitter}}</p>
        <p>Tik Tok: {{tiktok}}</p>
    </div>

    {% if session.get('username') == username %}
        <form action="/create_post_form">
            <button id="create-post" type="submit" class="btn-outline-dark">Create Post</button>
        </form>
    {% endif %}

        <div class="art-collection-grid">
            {% for art in art_collection %}

            <div id="user-prof-gallery-info-container">
                <p id="user-prof-gallery-title">{{art.gallery_title}}</p>
                <p id="user-profile-gallery-desc">{{art.gallery_description}}</p>
            </div>  
            {% for image in art.image %}

                <a href="/user_profile/{{image.image_id}}">
                    <img src="{{image.image_link}}">
                </a>
            {% endfor %}

                {% if session.get('username') == username %}
                    <form action="/user_profile/edit/{{art.artist_collection_id}}">
                        <button id="edit-post-btn" type="submit" class="btn-outline-dark">Edit</button>
                    </form>
                    <form action="/add_images_to_collection">
                        <button id="add-image-btn" type="submit" class="btn-outline-success">Add Image</button>
                    </form>
                {%endif %}

            {% endfor %}
        </div>

{% endblock %} 